@import "tailwindcss";

@layer utilities {
  .no-spinner {
    appearance: textfield;
  }

  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

/* home page boxes */
@utility box-block{
  @apply
  flex flex-col items-center gap-2 justify-around 
  w-70 h-70 p-2 rounded-xl outline-1  
  hover:scale-101 transition-transform duration-100;
}

@utility box-block-button{
  @apply 
  px-4 py-2 rounded-xl w-60 h-12 text-sm text-white font-semibold 
  inline-flex gap-2 items-center justify-center;
}

@utility inp-box {
  @apply
  w-full px-3 py-2 rounded-md 
  outline-none border-1 border-blue-200 focus:ring-2 focus:ring-blue-500
}

@utility submit-btn {
  @apply
  w-full bg-blue-700 text-white py-2 rounded-md hover:bg-blue-600
}